@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORES */
:root {
    /* ---CORES--- */

    /* BRAND COLORS */
    --brand-1: #4263EB;
    --brand-2: #364FC7;

    /* GRAY COLORS */
    --gray0: #0A0C0D;
    --gray1: #212529;
    --gray2: #495057;
    --gray3: #868E96;
    --gray4: #DEE2E6;
    --gray5: #F8F9FA;
    --gray-opacity-1: rgba(33, 37, 41, 0.5);
    --whiteFixed: #ffffff;

    /* FEEDBACK PALETTE */
    --like: #D7443E;

    /* FONT FAMILY */
    --font-family: "Inter", sans-serif;
}

/* FONTES E TAMANHOS CLASSES  */

.title1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.5rem;
}

.title2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.text1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
}

.text2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
}

.text3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
}


/* INPUTS STATE E TEXTAREA STATE CLASSES */

.input_text,
.input_textarea {
    border: 2px solid var(--gray4);
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
}

.input_text:focus,
.input_textarea:focus {
    outline: none;
    border: 2px solid var(--brand-1);


}

::-webkit-input-placeholder {
    color: var(--gray4);
    font-family: var(--font-family);
}


/* BUTTON STATE */

.button_primary {
    color: var(--whiteFixed);
    background-color: var(--brand-1);
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    cursor: pointer;
}

.button_primary:hover {
    background-color: var(--brand-2);
}

.button_gray1 {
    color: var(--whiteFixed);
    background-color: var(--gray1);
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.button_gray1:hover {
    background-color: var(--gray0);
}

.button_white {
    color: var(--gray0);
    background-color: var(--whiteFixed);
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.button_white:hover {
    background-color: var(--gray5);
}

.button_outline {
    color: var(--gray0);
    border: 1px solid var(--gray0);
    background-color: var(--whiteFixed);
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
}

.button_outline:hover {
    color: var(--brand-1);
    border: 1px solid var(--brand-1);
    background-color: #dde2f7;
}

.button_outline:focus {
    color: var(--whiteFixed);
    background-color: var(--brand-1);
    border: none;
}

.button_like {
    background-image: url(/img/coracao-cinza.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.button_like:hover,
.button_like:active {
    background-image: url(/img/coracao-vermelho.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

button:disabled {
    background-color: var(--gray4);
    color: var(--gray3);
    border: none;
    border-radius: 2px;
}


/* MODAL  */