.posts {
    padding: 10px 80px 0px 80px;
    width: 45%;
}

.usuario_postados {
    display: flex;
    align-items: center;
    padding: 20px 0px 10px 0px;
    gap: 10px;
}

.title_postado {
    font-size: 0.938rem;
}

.text_postato {
    font-size: 0.625rem;
}

.post {
    padding: 10px 0px 10px 0px;
}

.button_postado {
    padding: 10px 10px;
    margin: 20px 20px 20px 0px;
    display: flex;
}

.button_flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.ativado {
    display: flex;
}
.desativado{
    display: none;
}

.like_number{
    margin-left: 5px;
}

