@import url(globalStyles.css);
@import url(main_input.css);
@import url(main_posts.css);
@import url(modal.css);
@import url(media.css);

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    background-color: var(--gray1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.75rem 3rem;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--whiteFixed);
    gap: 10px;
}

.button_header {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--whiteFixed);
}